<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuishu.demo.seckill.mapper.PaymentMapper">
    <resultMap id="paymentMapperResultMap" type="com.shuishu.demo.seckill.entity.Payment">
        <id column="seckill_id" property="seckillId"/>
        <result column="user_id" property="userId"/>
        <result column="state" property="state"/>
        <result column="money" property="money"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>